<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>HEIC Pics automatically converts HEIC images added to the downloads folder</string>
</dict>
</plist>
